@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    color: white;
}

body {
    padding: 10px;
    width: 300px;
    background: linear-gradient(
        117deg,
        rgba(17, 63, 103, 1) 0%,
        rgba(56, 89, 139, 1) 79%
    );
}

#checkboxes {
    display: flex;
    flex-direction: column;
}

#submit {
    padding: 5px 15px;
    font-size: 15px;
    margin-top: 10px;
    width: 100%;

    background: #a2a8d3;
    border: none;
    outline: none;
    border-radius: 5px;
}

#server {
    color: black !important;
    outline: none;
    border: none;
    width: calc(100% - 10px);
    padding: 5px;
    border-radius: 5px;
}

#status {
    margin-top: 10px;
    font-size: 15px;
}

#status.success {
    color: #90ee90;
}

#status.error {
    color: red;
}
